<header id='main-nav' class='row align-middle'>
    <nav class='col col-6'>
        <%= link_to image_tag(current_site.the_logo(theme_asset_url('images/logical-logo-horz.png'))), current_site.the_url, alt: "Logical Thinking logo" %>
    </nav>
    <nav class='col col-6'>
        <ul class='row auto'>
            <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
                <li class='col'><%= link_to item[:label], item[:url] %></li>
            <% end %>
        </ul>
    </nav>
</header>