<header id='main-nav'>
    <nav>
        <ul>
            <li class="logo-font row align-right"><%= link_to current_site.the_title, current_site.the_url %></li>
            <li class="row align-right"><%= current_theme.get_option('subtitle') %></li>
            <br />

            <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
                <li class="row align-right nav-item"><%= link_to item[:label], item[:url] %></li>
            <% end %>
        </ul>
    </nav>
</header>