html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: $color-darkgray;
    color: white;
}

a {
    text-decoration: none;
}

.logo-font, .logo-font a {
    font-family: 'Raleway-Black', 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    color: #4f4f4f !important;
}

#main-nav {
    background: #fff;
    position: fixed;
    padding: 50px 20px;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    z-index: 300;
    overflow-y: scroll;
}

#main-nav li a {
    color: #4f4f4f !important;
    text-decoration: none;
    font-weight: bold;
    display: block;

}

#main-nav li a:hover {
    color: $color-link-hover;
}

nav li {
    display: inline-block;
}

.nav-item {
    margin-bottom: 10px;
}

.wrapper {
    margin: auto;
    position: absolute;
    left: 200px;
    padding-top: 25px;

}

#inner-wrapper {
    padding-top: 100px;
    margin: auto;
}

#media-grid {
    min-height: 100%;
}

#media-grid > div > div {
    background-color: #00aff0;
    display: block;
    min-height: 100%;
    background-size: 100% auto;
}

#media-grid > div {
    min-height: 100%;
    & > div:nth-child(1) {
        margin-bottom: 5px;
    }

    & > div:nth-child(2) {
        margin-bottom: 5px;
    }

    & > div:nth-child(3) {
        margin-top: 5px;
    }

    & > div:nth-child(4) {
        margin-top: 5px;
    }
}

.hero-slider {
    margin-top: 50px;
}
.hero-image {
    text-align: center;
    overflow-y: hidden;
}

#hero-image h1, #hero-image h2 {
    color: white;
}

.hero-text {
    margin: 0px 20px;
    padding: 45px 45px;
}

.lt-blue {
    background-color: #00aff0;
}

.center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
}

.service {
    text-align: center;
    padding: 50px 25px;
}

.hover:hover {
    background-color: $color-aluminum;
}

.section-heading {
    text-align: center;
}

.thought {
    padding: 25px 35px;
    margin: 20px 0px;
}

#large-glyphicon {
    font-size: 50px;
}

.glyphicon-eye-open:before {
  content: "\E105";
}

.glyphicon-pencil:before {
  content: "\270f";
}

.glyphicon-blackboard:before {
  content: "\e218";
}